{
  "presets": [
    "@babel/preset-env",  // Transpile modern JavaScript to be compatible with older environments       
    "@babel/preset-react",  // Enable support for JSX and React-specific transformations     
    "@babel/preset-typescript" // Add support for TypeScript syntax
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs"  // Convert ES modules to CommonJS
  ]
}
